<footer class="site-footer">

  <div class="wrapper" data-grid="end spacing">

    <div data-cell="1of3">
      <h2 class="footer-heading">{{ site.title }}</h2>
    </div>

    <div data-cell="1of4">
      <ul class="seamless contact">
        {% for tel in site.whatsapp %}
          <li><a href="tel:{{ tel[1] }}">{{ tel[0] }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div data-cell="shrink">
      <ul class="seamless">
        {% for link in site.social %}
          <li><a href="{{ link[1] }}" target="_blank">{{ link[0] }}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>

</footer>

<script>
document.querySelector(
  '.site-footer .contact'
).insertAdjacentHTML(
  'afterEnd',
  '<ul class="seamless"><li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li></ul>'
)
</script>